<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Live-Code DIO</title>

    <body>
      <div>
        <form id="form" enctype="multipart/form-data" method="POST">
          <input type="file" name="formFile" />
          <input type="submit" value="Submit File" name="submit" />
        </form>
      </div>
    </body>
  </head>
</html>
